.cards {
  padding-top: 3em;
}
.cards .cards-container {
  padding: 1rem;
}
.cards .menuList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
}
.cards .menuList > * {
  flex: 0 0 33.3333%;
}

.tabMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem auto 3em;
  border-bottom: 3px solid var(--main-bg);
}
.tabMenu > div {
  width: 30%;
  padding: 1rem 2rem;
  font-family: "Inter Tight";
  font-size: 1.5rem;
  font-weight: 700;
  border: 3px solid var(--main-bg);
  border-bottom: none;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.tabMenu > div.active {
  color: var(--main-white);
  border-bottom: none;
  background-color: var(--main-bg);
}

.dropdownMenu {
  display: none;
  width: 300px;
  position: relative;
  margin: 2rem auto 4em;
  font-family: "Inter Tight";
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}
.dropdownMenu .label {
  width: 100%;
  position: relative;
  padding: 1rem 2rem;
  font-family: "Inter Tight";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-white);
  border: none;
  outline: none;
  text-align: left;
  background-color: var(--main-bg);
  border-radius: 8px;
}
.dropdownMenu .label .material-icons {
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  transition: all 0.25s ease-in-out;
}
.dropdownMenu .label .material-icons.active {
  transform: rotate(180deg);
}
.dropdownMenu .optionList {
  display: none;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0;
  background-color: rgba(254, 252, 247, 0.7490196078);
  border-radius: 8px;
}
.dropdownMenu .optionList.active {
  display: block;
}
.dropdownMenu .optionItem {
  padding: 1rem 2rem;
  background: #f4f1eb;
  border-radius: 8px;
}
.dropdownMenu .optionItem:not(:last-child) {
  margin-bottom: 10px;
}
.dropdownMenu .optionItem:hover {
  color: var(--main-bg);
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 20vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-orange);
  border-radius: 8px;
  z-index: 1000;
}
.alert p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}
.alert p span {
  display: block;
  font-weight: 700;
}

@media all and (max-width: 950px) {
  .cards .menuList {
    width: clamp(100%, 50vw, 300px);
  }
  .cards .menuList > * {
    flex: 0 0 50%;
  }
  .tabMenu {
    width: clamp(100%, 50vw, 300px);
  }
}
@media all and (max-width: 768px) {
  .cards .menuList {
    align-items: center;
    flex-direction: column;
  }
  .tabMenu {
    display: none;
  }
  .dropdownMenu {
    display: block;
  }
}