#menu {
  padding-top: 3em;
  .menuList {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    min-width: 300px;
  }
}
.tabMenu {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 3em;
  width: 70vw;
  > div {
    width: 34%;
    padding: 10px 0;
    border: 3px solid var(--main-white);
    text-align: center;
    font-family: "EB Garamond";
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &:not(:last-child) {
      // border-right: none;
    }
    &.active {
      border-bottom: none;
    }
  }
}

@media all and (min-width: 960px) {
  #menu {
    .menuList {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      width: clamp(70vw, 50vw, 300px);
    }
    .tabMenu {
      width: clamp(70vw, 50vw, 300px);
    }
  }
}
