#menu {
  padding-top: 5em;
  .menuList {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    min-width: 300px;
  }
}
.tabMenu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  > div {
    width: 34%;
    padding: 10px 0;
    border: 1px solid var(--main-white);
    text-align: center;
    cursor: pointer;
    &:not(:last-child) {
      border-right: none;
    }
    &.active {
      border-bottom: none;
    }
  }
}

@media all and (min-width: 960px) {
  #menu {
    .menuList {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      width: clamp(70vw, 50vw, 300px);
    }
  }
}
