.backGround {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.7);
}

.cart {
	display: block;
	width: 50%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	overflow: scroll;
	background-color: var(--main-orange);
}
.cart header {
	position: relative;
	padding: 2rem;
	font-size: 1.5em;
	font-weight: 600;
}
.cart header .close-icon {
	position: absolute;
	top: 50%;
	right: 20px;
	font-size: 1.2em;
	transform: translateY(-50%);
	cursor: pointer;
}

.cartList {
	overflow: hidden;
	padding: 30px;
}
.cartList li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	padding: 20px 0;
	border-bottom: 1px solid var(--main-black);
}
.cartList li .cartItemName {
	flex-basis: 50%;
	font-size: 1.3rem;
	font-weight: 600;
}
.cartList li .cartItemPrice {
	font-size: 1.1rem;
}
.cartList li .btnRemove {
	width: 90px;
	height: 40px;
	color: #fff;
	border: 2px solid var(--main-bg);
	border-radius: 8px;
	background-color: var(--main-bg);
}
.empty {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2rem;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
	transform: translate(-50%, -50%);
	text-align: center;
}

@media (max-width: 768px) {
	.cart {
		width: 100vw;
	}
	.cartList li .cartItemName {
		font-size: 1.1rem;
		flex-basis: 55%;
	}
	.cartList li .cartItemPrice {
		font-size: 1rem;
	}
	.cartList li .btnRemove {
		width: 70px;
		height: 35px;
	}
}
