.backGround {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
}

.cart {
  display: block;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--main-orange);
}
.cart header {
  position: relative;
  padding: 2rem;
  font-size: 1.5em;
  font-weight: 600;
}
.cart header .material-icons {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 1.2em;
  transform: translateY(-50%);
  cursor: pointer;
}

.cartList {
  overflow: scroll;
}
.cartList li {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.cartList li .image {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  background: #f4f1eb;
  background-color: var(--main-white);
  border-radius: 10px;
}
.cartList li .image img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: contain;
}

.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  background: var(--main-orange);
  border-radius: 100%;
  cursor: pointer;
}
.cartIcon .material-icons {
  font-size: 2rem;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}