.footer {
	display: relative;
	background-color: var(--main-black);
}
.footer-container,
.footer-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer .nav-logo {
	padding: 2rem 1rem 1rem;
}
.footer .nav-title {
	color: var(--main-white);
	font-size: 1.5rem;
}
.footer-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.footer .nav-link {
	color: var(--main-grey);
	font-size: 0.75rem;
	padding: 0.5rem;
}
.footer .nav-link:hover {
	color: var(--main-white);
}
.footer-social-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	margin: 0 1rem;
	padding: 1rem 1rem 2rem;
}
.footer-social-menu li:hover {
	cursor: pointer;
	color: var(--main-bg);
}
@media (min-width: 480px) {
	.footer-menu {
		flex-direction: row;
	}
}
@media (min-width: 768px) {
	.footer-container {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 0;
	}
	.footer-nav {
		flex-direction: row;
		gap: 2rem;
	}
	.footer .nav-logo,
	.footer-social-menu {
		padding: 1rem;
	}
}
