.header {
	position: relative;
	width: 100%;
	background-color: var(--main-white);
}
.nav {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;
}
.nav-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.nav-logo.active::before {
	height: 0;
}
.nav-img {
	width: 2rem;
	height: 2rem;
	z-index: 50;
	padding: 0.1rem;
	border-radius: 50%;
	background-color: var(--main-bg);
}
.nav-title {
	color: var(--main-black);
	font-size: 2.25rem;
	font-weight: 700;
	font-family: 'Inter Tight', sans-serif;
	z-index: 10;
}
.nav-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}
.nav-link {
	position: relative;
	color: var(--main-black);
	list-style: none;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1rem 0.5rem;
	cursor: pointer;
	overflow: hidden;
}
.active {
	color: var(--main-bg);
	position: relative;
}
.active::before {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 3px;
	background: var(--main-bg);
	transform: translateY(0);
}
.nav-link::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 3px;
	background: var(--main-bg);
	transform: translateY(3px);
	transition: transform 0.2s ease;
}

.nav-link:hover::after {
	transform: translateY(0);
}
.nav-link:hover {
	color: var(--main-bg);
}
.cart-icon,
.cart-icon-mobile {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	width: 1.75rem;
	height: 1.75rem;
	color: var(--main-black);
	margin-left: 0.25rem;
	padding-bottom: 0.25rem;
	z-index: 99;
	border-radius: 100%;
	cursor: pointer;
}
.cart-icon:hover,
.cart-icon-mobile:hover {
	color: var(--main-bg);
	background-color: var(--main-orange);
	scale: 1.05;
}
.cart-icon-mobile {
	display: none;
}
.hamburger {
	display: none;
	color: var(--main-black);
	z-index: 10;
}
.nav-menu-mobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	padding-top: 5rem;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	background-color: var(--main-bg);
	opacity: 0.95;
	z-index: 10;
}
.nav-mobile {
	display: none;
}
.nav-link-mobile {
	color: var(--main-white);
	font-size: 2rem;
	font-weight: 700;
	border-bottom: transparent 4px solid;
}
.nav-link-mobile:hover {
	border-bottom: var(--main-orange) 4px solid;
	color: var(--main-orange);
}

@media (max-width: 768px) {
	.nav-menu {
		display: none;
	}
	.nav-mobile {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		right: 5%;
	}
	.cart-icon-mobile {
		display: flex;
	}
	.hamburger {
		display: flex;
	}
	.nav {
		padding: 1.15rem 1rem;
	}
	.nav-title {
		font-size: 1.5rem;
	}
}
@media (max-width: 400px) {
	.nav-title {
		display: none;
	}
}
