:root {
	--main-bg: #0e8784;
	--main-black: #333d4b;
	--main-white: #fefcf7;
	--main-grey: #83888f;
}
.main {
	position: relative;
	max-height: 100%;
	padding: 2rem 1rem;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;
}
.main-title {
	font-size: 4.5rem;
	font-family: 'EB Garamond', serif;
}
.main-text {
	max-width: 60%;
	font-size: 1.15rem;
	line-height: 1.5;
}
.main-btn {
	color: var(--main-white);
	background-color: var(--main-bg);
	font-size: 1.25rem;
	font-weight: 700;
	font-family: 'EB Garamond', serif;
	padding: 1rem 2rem;
	border-radius: 6px;
	border: none;
}
.main-btn:hover {
	opacity: 0.7;
}
@media (max-width: 768px) {
	.main {
		align-items: center;
	}
}
@media (min-width: 1280px) {
	.main-wrapper {
		max-width: 1280px;
		margin: 0 auto;
	}
}
