.merch-hero {
  margin-bottom: 4rem;
}
.merch {
  color: black;
  /* display: flex; */
  /* width: 100%; */
  /* contain: content;
	flex-wrap: wrap; */
  /*   color: #4c243b; */
}
.merch-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*for debug*/
  border: solid;
  border-color: purple;
  border-width: 3px;
}
.merch .card {
  display: flex;
  align-content: space-between;
  width: 320px;
  height: 500px;
  /* we center with align-items and set same width with the img*/
  /* margin: 0 auto; */
  /* width: 30%; */

  /*for debug*/
  border: solid;
  border-color: blue;
  border-width: 3px;
}
.merch h1 {
  font-size: 1rem;
}
.merch p {
  font-size: 0.8rem;
}
.merch img {
  /* Restricts images to a square */
  max-width: 320px;
  max-height: 320px;
  /* Auto = images keep aspect ratio while staying within the 
  confines of the max width/height */
  width: auto;
  height: auto;
  align-items: center;
  /*for debug*/
  border: solid;
  border-color: greenyellow;
  border-width: 3px;
  background-color: pink;
}
.merch .card .name {
  font-size: 0.8rem;
  text-transform: capitalize;
  /*for debug*/
  border: solid;
  border-color: yellow;
  border-width: 3px;
  /* Want the text to start after a certian height (after the img)*/
  /* margin-top: 320px; */
}
.merch .card .description {
  font-size: 0.7rem;
  overflow-x: hidden;
}
.merch button {
  background-color: var(--main-bg);
  color: white;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}
/* media queries */
@media (min-width: 768px) {
  .merch-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap for space in between cards, padding for lateral space */
    gap: 3rem;
    padding: 0 3rem;
  }
}
