body {
  padding: 0px;
  margin: 0px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  background-color: var(--main-white);
}
.merch {
  display: flex;
  width: 100%;
  color: black;
  contain: content;
  flex-wrap: wrap;
  /*   color: #4c243b; */
}
.merch h1 {
  font-size: 1rem;
}
.merch p {
  font-size: 0.8rem;
}
.card-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
}

.placeholder {
  height: 500px;
  width: 500px;
  background-color: teal;
  border: 1px solid darkblue;
}
img {
  width: 250px;
  height: 300px;
  align-items: center;
}
.card {
  margin: 0 auto;
}
.card .name {
  font-size: 0.8rem;
  text-transform: capitalize;
}
.card .description {
  font-size: 0.7rem;
  overflow-x: hidden;
}
button {
  background-color: var(--main-bg);
  color: white;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}
