body {
  padding: 0px;
  margin: 0px;
}
.merch {
  display: flex;
  width: 100%;
  color: #4c243b;
}
.merch h1 {
  font-size: 1rem;
}
.merch p {
  font-size: 0.8rem;
}
.card-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
}
img {
  width: 250px;
  height: 300px;
  align-items: center;
}
.card .name {
  font-size: 0.8rem;
  text-transform: capitalize;
}
.card .description {
  font-size: 0.7rem;
  overflow-x: hidden;
}
button{
  background-color: var(--main-bg);
  color: white;
  border-radius: 10px; 
  outline: none;
  padding: 10px;
}

