.order-container {
	margin-bottom: 3rem;
}
.order-container .hero-title {
	margin: 2rem 0 3rem;
	padding: 1rem;
}
.order-step,
.order-header {
	font-size: 1.5rem;
	font-weight: 600;
	padding: 1rem;
	text-align: left;
}
.order-header {
	font-size: 2.5rem;
}
.order-items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 1rem 0rem;
}
.order-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	width: 18rem;
	max-height: 18rem;
	border: 1px solid var(--main-grey);
	border-radius: 8px;
	cursor: pointer;
}
.order-para {
	padding: 2rem 0;
}
.order-title {
	font-size: 2rem;
	font-weight: 600;
}
.order-text {
	margin-top: 1rem;
	font-size: 1.25rem;
}
.order-image {
	width: 8rem;
	height: auto;
}
.order-summary {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 3rem;
}
.order-summary > p {
	padding: 0.25rem 0;
	margin-bottom: 0.25rem;
}
.order-price {
	font-size: 1.5rem;
	font-weight: 700;
}
.order-summary .btn {
	width: 18rem;
}
@media (min-width: 640px) {
	.order-step,
	.order-header {
		padding: 1rem 0;
	}
	.order-items {
		flex-direction: row;
	}
	.order-item {
		align-items: center;
		flex-direction: row;
		width: 36rem;
		padding: 1.5rem;
	}
	.order-para {
		padding-left: 2rem;
	}
	.order-summary {
		align-items: flex-start;
	}
}
@media (min-width: 1280px) {
	.order-items {
		justify-content: flex-start;
	}
	.order-item {
		width: 39rem;
		padding: 1.25rem;
	}
	.order-image {
		margin-left: 3rem;
	}
	.order-summary .order-title {
		font-size: 3rem;
	}
}
