.merch {
	color: black;
}
/*---HERO---*/
.merch-hero {
	margin-bottom: 4rem;
}
p.hero-text {
	background-image: black;
}

/*---FLEXBOX/SETUP---*/
.merch-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.merch .card {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	width: 320px;
}

/*---ITEM IMAGES---*/
.merch img {
	max-width: 320px;
	max-height: 320px;
	width: auto;
	height: auto;
	align-items: center;
	background-color: var(--main-pink);
	border: 1px solid #fae6da;
	border-radius: 8px;
}
/*---DESCRIPTION--- */
.merch p {
	font-size: 0.8rem;
}
.merch .card .name {
	font-size: 1.2rem;
	text-transform: capitalize;
}
.merch .card .description {
	font-size: 0.8rem;
	max-width: 300px;
	overflow-x: hidden;
}
.merch .card .price {
	font-size: 1rem;
}
.tab-menu {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 2rem auto 3em;
}
.tab {
	flex: 1;
	padding: 1rem 2rem;
	font-family: 'Inter Tight';
	font-size: 1.5rem;
	font-weight: 700;
	border: 3px solid var(--main-bg);
	text-align: center;
	cursor: pointer;
}
.tab-menu .active {
	color: var(--main-white);
	background-color: var(--main-bg);
}
/*---MEDIA QUERIES---*/
@media (min-width: 768px) {
	.merch-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		gap: 3rem;
		padding: 0 3rem;
	}
}

@media (min-width: 1280px) {
	.tab-menu {
		gap: 1.5rem;
	}
	.tab {
		border-radius: 8px;
	}
}
