.showcase {
	position: relative;
	width: 100%;
	height: 100%;
}
.collection-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'EB Garamond', serif;
	color: black;
	padding: 2rem 1.5rem;
}
.collection-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.collection-title {
	font-size: clamp(3rem, 12vw, 12rem);
	max-width: 100%;
	margin-bottom: 2rem;
}
.collection-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	gap: 2rem;
}
.collection-item img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 1280px) {
	.collection-wrapper {
		max-width: 1280px;
		margin: 0 auto;
	}
	.collection-list {
		flex-direction: row;
		justify-content: center;
		flex: 1;
		gap: 1rem;
	}
}
