.showcase {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 1rem 0;
}
.showcase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	padding: 2rem 1rem;
}
.showcase-list {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	color: var(--main-black);
}
.showcase-title {
	font-size: clamp(3.25rem, 12vw, 10rem);
	font-family: 'EB Garamond', serif;
	background: linear-gradient(
		to top,
		var(--main-white) 0%,
		var(--main-grey) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	max-width: 100%;
}
.showcase-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	gap: 0.5rem;
}
.showcase-item img {
	max-width: 320px;
	height: auto;
}
.showcase-item h4 {
	font-family: 'EB Garamond', serif;
}
.showcase-item p {
	font-size: 1rem;
	text-align: center;
}
@media (min-width: 640px) {
	.showcase-list {
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1;
	}
}
@media (min-width: 1280px) {
	.showcase-list {
		justify-content: center;
		flex-wrap: nowrap;
		gap: 1rem;
	}
}
