:root {
  --main-bg: #0e8784;
  --main-black: #333d4b;
  --main-white: #fefcf7;
  --main-grey: #83888f;
}

.App {
  background-color: var(--main-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-white);
}
